@charset "UTF-8";

body {
    margin: 0;
    box-sizing: border-box;
}

#ovo {
    height: 220px;
    background-image: url(assets/images/image-omelette.jpeg);
    background-size: cover;
    background-position: center;
}


#container2 {
    display: flex;
    flex-direction: column;
    font-size: 19px;
    padding: 20px;
    width: 82%;
    margin: auto;
}

h1 {
    font-size: 40px;
}

h2 {
    color: hsl(14, 45%, 36%);
}

li {
    padding: 8px;
}

#preparacao {
    background-color: hsl(330, 100%, 98%);
    border-radius: 10px;
}

#preparacao h2 {
    padding-left: 20px;
    color: hsl(332, 51%, 32%);
}

#instrucao ul {
    list-style-type: decimal;
}

#nutricao {
    display: flex;
    flex-direction: row;
}

.nutricao {
    display: flex;
    flex-direction: column;
    list-style: none;
}

#nutricao2 {
    color: saddlebrown;
    font-weight: bolder;
}


@media (min-width: 1200px) {

    body {
        background-color: wheat;
    }

    #ovo {
        border-radius: 20px;
        height: 300px;
    }

    #container {
        display: flex;
        flex-direction: column;
        width: 600px;
        margin: auto;
        background-color: white;;
        padding: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 20px;
    }

    #container2 {
        margin: auto;
        
    }

}